{{!-- Layout --}}
{{!< default}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "special_body_class"}}{{#is "home"}}is-home{{/is}} is-frontpage{{/contentFor}}

{{!-- Featured Story --}}
{{#get "posts" filter="featured:true" limit="1" as |godo_featured_post| }}
    {{#if godo_featured_post}} {{#foreach godo_featured_post}}{{> "story/story-featured"}} {{/foreach}}{{/if}}
{{/get}}

<div class="site-post feed-entry-content">
    <div class="feed-entry-wrap u-maxWidth1100 container">
        <div class="row">
            {{#foreach posts visibility="all"}}
                    <div class="col s6">{{> "story/story-grid"}}</div>
            {{/foreach}}
        </div>
    </div>
</div>